## Task 4
Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год).

**illiteracy.txt**

Чему равен выборочный коэффициент корреляции Пирсона между этими двумя признаками? Округлите до четырёх знаков после десятичной точки.

In [2]:
import pandas as pnd
import numpy as np

In [6]:
illiteracy = pnd.read_csv('illiteracy.txt', delimiter='\t')
illiteracy.corr()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [10]:
print('Pearson correlation: {:.4f}'.format(illiteracy.corr()['Births']['Illit']))

Pearson correlation: 0.7687

## Task 5
Чему равен выборочный коэффициент корреляции Спирмена признаков из предыдущего вопроса? Округлите до четырёх знаков после десятичной точки.

In [12]:
spearman_corr = illiteracy.corr(method='spearman')
spearman_corr

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

In [13]:
print('Spearman correlation: {:.4f}'.format(spearman_corr['Births']['Illit']))

Spearman correlation: 0.7530